<div class="panel panel-default bootstrap-admin-no-table-panel">
    <div class="panel-heading">
        <div class="pull-right"> @* header kanan *@

        </div>
        <div class="bootstrap-admin-box-title right text-success"> @* header kiri *@

        </div>
    </div>
    <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in"> @* isi *@

    </div>
</div>
