body{
    font-family: "Open Sans", Arial;
    padding-top:0 !important;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.galery-image > [class*='col-'] {
    padding-right:1px;
    padding-left:1px;
    padding-bottom: 2px;
}


/*color*/
.green{
    background-color: #567d20;
}
.darkgreen{
    background-color: #3b5715;
}

.yellow{
    background-color: #ffcc00;
}

.orrange{
    background-color: #f57507
}

.red{
    background-color: #f44200;
}

/*navigation*/
.header{
    /*position: fixed;*/
    z-index: 9999999999999999999;
    width: 100%;/*
    margin-bottom: -100px;*/
}

.navbar-brand{    
    position: absolute;
    width:300px;
    padding: 0;
    margin-left: 15px !important;
}

.caret{
    margin-left: 5px;
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.yamm .dropdown-menu{
    margin-left: 15px;
}

.logo{
    /*height: 106px;*/
    margin-right: 15px;
    float:left;
    text-align: left;
    margin-left: 0px;
}

.logo img{
    height: auto;
    margin-top: 12px;
    float:left;
    width:40px;
}
.logo-title{
    height: 30px;
    width: 100%;
    color: #fff;
    padding-top: 8px;
}

.logo-title h1{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0px;
    font-weight: 700;
    
}
.logo-title span{
    font-size: 11px;
}

.topn{
    float:left;
}

.top-menu{
    background: #fff;
    width:100%;
}

.top-menu ul.list-inline{
    font-size: 12px;
    color: #99a197;
    margin-top: 12px;
}

.top-menu ul.list-inline li a{
    font-size: 12px;
    color: #99a197;
}

.top-menu ul.list-inline button{
    background: #ffd54d;
    border:none;
    margin-right: -7px;
}

.top-menu ul.list-inline li a:hover{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

.navbar-collapse, .navbar-header, .navbar-nav, .navbar-nav li a{
    margin-left: 0px;
    text-align: left;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 400;
}

.navbar-nav li a{
    padding-right: 8px;
}
/*form search navbar*/
.group>form{
    margin-top: -5px;
    line-height: 30px;
    float:right;
}

.group .form-control{
    border-radius: 0;
    background: #f3f3f3;
    padding: 3px 12px !important;
    height: 30px;
}
.group .navbar-form{
    margin-top: 3px;
    padding: 0;
}

.group .btn{
    border-radius: 0;
    color: #fff;
    line-height: 16px;
    margin-top: -3px;
}
.navbar-collapse .btn-default{
    border-radius: 0;
    color: #fff;
    border:none;
    font-size:17px;
    height: 30px;
    margin-left: 5px;
}

.group>input{
    border-radius: 0;
    border:none;
    height: 20px;
}

.navbar-nav{
    margin-right: 0 !important;
}

.navbar-nav>li>a{
    line-height: 30px;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover{
    background: none;
    color:#efc94c !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: #efc94c;
    color: #3b5715 !important;
}

.grid-demo{
    padding: 15px;
}
.grid-demo li a{
    padding-left: 0px;
}

.mega-menu{
    border:none;
    border-top: 3px solid #efc94c;
    border-radius:0;
    z-index: -999;
}

.mega-menu li a{
    text-decoration: none;
    color: #262626;      
    width: 100%;
    position: relative;
    display: inline-block;
}
.mega-menu li a:hover{
    background: #efc94c; 
    width: 100%;
}

.title2{
    margin-top: 12px;
}
.r-line{
    border-right: 1px dotted #a1300d;
    height: 100%;
}
.baris2{
    margin-top: 24px;
}
.bg1{
    margin-left: -15px;
}



/*footer*/
.footer{
    background-color: #114d65;
    border-top: 10px solid #1f8a70;
    padding-top: 40px;
    color: #fff;
    margin-top: 60px;
    
}

.footer h4{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #1f8a70 !important;
    font-weight: 700;
}
.widget-footer{
    margin-bottom: 24px;
}

.widget-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color:#fff;    
}

.line-footer{
    border-bottom: 1px solid #767a81;
    margin-bottom: 24px;
    width: 100%;
}

.widget-footer li, .widget-footer li a{
    line-height: 36px;
    text-transform: capitalize;
    text-decoration: none;
    color:#fff;
}

.widget-footer h3.title{
    color:#fff;
}
.contactme p, .contactme span, .contactme span a{
    line-height: 24px;
    color: #fff;
}
.contactme span{
    margin-top: 15px;
    margin-bottom: 15px;
}

.contactme span a{
    margin-left: 5px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Open Sans", arial;
}

.contactme .social li{
    border-radius: 3px;
    background: #4a7a88;
    width: 40px;
    height:40px;
}

.contactme .social{
    margin-top: 24px;
}

.contactme .social li i{
    color: #004358;
    margin-top: 8px;
}

.contactme .social li.twitter{background: #00a8dc;}
.contactme .social li.facebook{background: #305f94;}
.contactme .social li.gplus{background: #e83032;}
.contactme .social li.youtube{background: #f00026;}

/*logofooter*/

.nav-footer li, .nav-footer li a, .nav-footer p{
    font-size: 12px;
    color:#628393;
    text-transform: capitalize;
}

.nav-footer ul li:after { content: "\007C"; padding-left: 10px; }
.nav-footer ul li.nobullet:after { content: none; }

.logo-footer{
    float:right;
    display: inline-block;
    color:#628393;
    text-align: right;
    margin-bottom: 24px;
}

.logo-footer h4, .logo-footer span{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.logo-footer img{
    float:right;
    margin-left: 15px;
    width: 53px;
    height: 68px;
}

.lf-title{
    float:left;
    color: #628393;
}
.lf-title h3{    
    margin-top: 0px;
    font-weight: 100;
}



::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: #004358;
}

::-webkit-scrollbar-thumb {
    background: #ecf0f1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}


/*responsive style -----------------------------------------------------------------*/
@media (max-width: 340px) {}
@media (max-width: 356px) {}
@media (max-width: 460px) {}
@media (min-width: 459px) {}
@media (max-width: 569px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px ) and (max-width: 1365px) {}

